name: template
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/image/logo.png
    - assets/image/google.png
    - assets/image/apple.png
    - assets/image/croissant.jpeg
    - assets/image/bread.jpeg
    - assets/image/cupcake.jpeg
    - assets/image/donut_pingkan.png
    - assets/image/french_toast.png
    - assets/image/cowboy_cookie.png
    - assets/image/matcha_cookie.png
    - assets/image/bruno_donut.png
    - assets/image/profile.jpg
    
    # atau jika Anda ingin mendaftarkan seluruh folder:
    - assets/image/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
